{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<div class="container mt-4">
    <div class="jumbotron">
  <h2 class="display-4 oui">Livres et Débats</h2>
  <p class="lead"></p>
  <hr class="my-4">
  <p>Vous voulez la parole ?</p>
  <p class="lead">
    <button type="button" class="btn btn-outline-secondary">Learn More</button>
  </p>
</div>
</div>
{% endblock %}
