{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}


	<div class="bg-image p-5 text-center rounded mb-5 text-white" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp'); height: 50vh">
		<h1 class="display-4 oui">Livres et Débats</h1>
		<div class="container mt-4">
			<div class="jumbotron">
				<p class="lead"></p>
				<hr class="my-4">
				<p>Vous voulez la parole ?</p>
				<p class="lead">
					<button type="button" class="btn btn-outline-secondary">Learn More</button>
				</p>
			</div>
		</div>
	</div>
</div>{% endblock %}
