{% extends 'base.html.twig' %}


{% block body %}
	

	<div class="example-wrapper">
		<h1>Hello
			{{ comment.autor }}! ✅</h1>
		<h1>Hello
			{{ comment.content }}! ✅</h1>


		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>
					<a href="{{ '/var/www/html/training/Livres_Debat_Symfony/livres_debat/src/Controller/CommentController.php'|file_link(0) }}">src/Controller/CommentController.php</a>
				</code>
			</li>
			<li>Your template at
				<code>
					<a href="{{ '/var/www/html/training/Livres_Debat_Symfony/livres_debat/templates/comment/index.html.twig'|file_link(0) }}">templates/comment/index.html.twig</a>
				</code>
			</li>
		</ul>
	</div>
{% endblock %}
